.ContenedorGastosMain {
    margin: 0;
    background-image: url("./images/fondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorCentro {
    width: 70vh;
    height: 85vh;
    background-color: white;
    border-radius: 45px;
    text-align: center
}

::deep .BotonVolver {
    top: 1vh;
    left: 1vh;
    position: absolute;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.subtitulo {
    font-size: 24px;
}

.subtitulo2 {
    font-size: 20px;
    opacity: 0.8;
}

.Etiquetas {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 3%;
    row-gap: 20px;
}

.Etiqueta {
    font-size: 20px;
}

.ContenedorBotones {
    display: flex;
    gap: 3%;
    justify-content: center;
}

::deep .botones {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #3c40ea;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

    ::deep .botones:hover {
        transform: scale(1.02);
    }

    ::deep .botones:last-child {
        background-color: #f22c2c;
    }